<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text text-info"><%="#{t 'users.password'}" %></span>
  </div>
  <%= f.password_field :password, autocomplete: "new-password" %>
  <% if @minimum_password_length %>
    <em>(<%=(t'global.messagePassword', count: @minimum_password_length)%>)</em>
  <% end %>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text text-info"><%="#{t 'users.passwordConfirm'}" %></span>
  </div>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>