<div id="login" class="bottom-three">
  <h3 class="text-center text-white pt-5">Register</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-8">
        <div id="login-box" class="col-md-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <h3 class="text-center text-info">Edit <%= resource_name.to_s.humanize %></h3>
            <%= render partial: 'devise/registrations/commonInfo', locals: {f: f} %>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text text-info"> <%= t 'global.currentPassword' %></span>
              </div>
              <%= f.password_field :current_password, autocomplete: "current-password" %> <br /> <!-- <i>(we need your current password to confirm your changes)</i>-->
            </div>


            <div class="actions">
              <%= f.submit "Update",  class: "btn btn-info btn-md"%>
              <%= link_to "#{t 'global.cancel'}", articles_path , class: "text-info register"  %>
            </div>
          <% end %>
          <!--
          <h3 class="float-right">Unhappy? Cancel my account</h3> <br>

          <p> <%= button_to "Cancel my account",registration_path(resource_name), class: "btn btn-danger btn-md float-right", data: { confirm: "Are you sure?" }, method: :delete %></p>
          -->
        </div>
      </div>
    </div>
  </div>
</div>







