<div id="login" class="bottom-three ">
  <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center ">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12 ">
       <h2 class="reset_password"><%= t 'global.changePassword' %></h2>
          <!--<h2 class="reset_password">Change your password</h2> -->
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "#{t 'global.newPassword'}", class: "text-info" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <!--<em>(<%= @minimum_password_length %> characters minimum)</em> -->
             <em>(<%=(t'global.messagePassword', count: @minimum_password_length)%>)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "#{t 'global.newPasswordConfirmation'}", class: "text-info" %><br />
          <!-- <%= f.label :password_confirmation, "#Confirm new password", class: "text-info" %><br /> -->
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-info btn-md" %>
        </div>
      <% end %>

<!-- <%= render "devise/shared/links" %> -->
       </div>
      </div>
    </div>
  </div>
</div>
