
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top " role="navigation">

    <!--<a class="navbar-brand" href="#">Brand</a> -->
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="navbar-nav">
        &emsp; &emsp; &emsp; <li class="nav-item active"><%= link_to  "#{t 'layout._navbarForm.home'}" , articles_path, class: "nav-link" %></li>

        <!-- <li class="nav-item"><a href="#" class="nav-link"><%= t 'layout._navbarForm.me' %></a></li>

        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Projects</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-uppercase" href="#">MACHINE LEARNING @ UNIFE</a>
              <a class="dropdown-item text-uppercase" href="#">SYSTEM AFRIK INFORMATION TECHNOLOGY</a>
              <a class="dropdown-item text-uppercase " href="#">After school</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Courses</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-uppercase" href="#">Programming language</a>
              <a class="dropdown-item text-uppercase" href="#">Deep learning</a>
            </div>
          </li>
          <%end %>
          -->
         </ul>

       <!-- <li class="nav-item"><a href="#" class="nav-link">More</a></li>  justify-content-end-->

      <ul class="navbar-nav  ml-auto">
        <!-- <li class="nav-item order-2 order-md-10"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li> -->

        <%if current_user %>
          <!--
          <li class="nav-item " id ="avatarUser">
            <a class="nav-link disabled" href="#">
              <i class="fa fa-user" aria-hidden="true"> </i>
            </a>
          </li>
          -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <span class=" text-success">
                <%= current_user.name  %> </span></a>
            <div class="dropdown-menu">
              <%= link_to "#{t 'layout._navbarForm.editProfile'}", edit_user_registration_path , class: "dropdown-item text-uppercase" %>
              <%= link_to "#{t 'layout._navbarForm.logout'}", destroy_user_session_path, method: :delete, class: "dropdown-item text-uppercase" %>
            </div>
          </li>
          <!--
          <li class="nav-item "><%= link_to "#{t 'layout._navbarForm.logout'}", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "#{t 'layout._navbarForm.editProfile'}", edit_user_registration_path , class: "nav-link" %></li>
          -->
          <!-- Navbar text  <span class="navbar-text text-success"> Welcome <%= current_user.name%></span>-->
        <% else %>
          <li class="nav-item"><%= link_to "#{t 'layout._navbarForm.register'}", new_user_registration_path , class: "nav-link", kind: "new"  %></li>
          <li class="nav-item"><%= link_to "#{t 'layout._navbarForm.login'}", new_user_session_path , class: "nav-link"%></li>
        <%end %>
        &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <%=t 'layout._navbarForm.language' %></a> <!--  -->
          <div class="dropdown-menu">
            <%= link_to "English", url_for(locale: :en), class: "dropdown-item text-uppercase" %>
        <%= link_to 'Italiano', url_for(locale: :it), class: "dropdown-item text-uppercase" %>
        <%= link_to 'Français', url_for(locale: :fr), class: "dropdown-item text-uppercase" %>
        <%= link_to 'Deutsch', url_for(locale: :de), class: "dropdown-item text-uppercase" %>
          </div>
        </li>
        <li class="nav-item">
          <%if current_user %>
            <!-- <a class="nav-link disabled text-danger" href="#">Admin</a> -->
            <span class="navbar-text text-danger"><%= current_user.getRoles%> </span>
          <% end %>
       </li>
      </ul>
    </div>
</nav>


<%= render 'layouts/alert' %>
